.row-cus {
    margin: 2rem;
}
.home {
    display: flex;
    justify-content: space-between;
    max-width: 20rem;
}

section {
    border: 1px solid;
    border-radius: 0.5rem;
    max-width: 20rem;
    padding: 2rem;
    margin-top: 1rem;
    background: #fff;
    color: #53627c;
}